<h1>Cubbyhole </h1>
<br/>
<br/>
{% set username = app.session.get('username') %}
{% set id = app.session.get('id') %}
Bonjour {{username}}! 
<br/>

<a href="/accountupdt/{{id}}"> Gestion de votre compte </a>
<br/>
<a href="/plans">Modifier votre offre </a>

