<a href="/accueil"> Retour a l'accueil </a>
<div>
    {{ message }}
</div>
{% if form %}
    {{ form(form) }}
{% endif %}
* <a href="https://www.paypal.com/fr/cgi-bin/webscr?cmd=_flow&SESSION=0scspsTq0RsXDOfLvEi4CoyXHdu6eVSRR1mgKPObINMsjFUgiTc7kcL2NGW&dispatch=5885d80a13c0db1f8e263663d3faee8d6cdb53fcfca2b5941339e576d7e42259"> Creer un id paypal </a>

