
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/CubbyholeWebSiteBundle/css/style.css') }}" type="text/css" media="all" />
{% endblock %}
    
{% block body %}
  
        <h1> Bienvenue sur le Site de Cubbyhole! </h1>
        Pour commencer l'aventure veuillez vous
        <a href="{{ path('login') }}"> authentifier </a> ou <a href="{{ path('register') }}"> procéder a l'inscription </a>
                 

{% endblock %}



